@font-face {
	font-family: Stm;
	font-style: bold;
	font-weight: 400;
	font-display: auto;
	src: url(./stmmontreal_bold-webfont.woff);
}

html.dark #button-dark-mode #light-mode-icon {
	@apply hidden;
}
html:not(.dark) #button-dark-mode #dark-mode-icon {
	@apply hidden;
}

html {
	font-size: 14pt;
	font-family: sans-serif;
	background-color: initial;
	margin: 0 17%;
	background-color: #fff;
	color: #0A0A0A;
}

html button {
	background-color: #0f0f0f;
	color: #008de3;
	font-family: Stm;
}

html.dark {
	background-color: #0f0f0f;
	color: #fff;
}

html.dark button {
	background-color: #fff;
	color: #103890;
}

html, body {
	box-sizing: border-box;
	height: 100%;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

footer {
	font-size: 0.8rem;
	padding-bottom: 0.5rem;
}

header, nav, footer {
	flex-grow: 0;
	flex-shrink: 0;
}

h1, h2, h3, h4, h5 {
	font-family: Stm, sans-serif;
}

h1 {
	text-align: center;
}

/* general color and font size */
h1, h2, h3, h4, h5, p, div, li, header, span, hr, footer {
	color: inherit;
}

a:link, a:visited, :is(h1, h2, h3, h4, h5) strong, header hr {
	color: #103890;
}

.dark :is(a:link, a:visited, :is(h1, h2, h3, h4, h5) strong, header hr) {
	color: #008de3;
}

a[href]:where(
	[href^="http"]
)::after {
	content: "↗";
}

a[href]:where(
	.no_arrow,
)::after {
	content: "";
}

a:hover{
	text-decoration: none;
}

.smaller {
	font-size: 0.8em
} /* fun little small text :3 */

/* header stuff */
header {
	text-align: center;
	font-family: Stm, sans-serif;
} /* for the site title on each page */

header h1 :is(a:link, a:visited) {
	text-decoration: none;
	/* if it gets implimented, use `device-cmyk(100, 60, 0, 6)`.*/
} /* to make sure that the link in the site title doesnt show */

header hr {
	margin: 0 1em 1em;
}

header h1 {
	margin-bottom: 0;
}

/* flexbox nicities stuff */
.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
}

.wrapper piece {
	margin: 0 0.5em;
	max-width: 18vw;
}

.wrapper h3 {
	text-align: center;
}

.wrapper p {
	width: 100%;
}

/* call after everything it modifies */
/* "responsive web design" */
@media only screen and (max-width:1080px){
	html {
		margin: 0;
	}

    .wrapper piece {
    	max-width: 40vw;
    }

    .wrapper h3.bad {
    	word-break: break-word;
    }

	footer {
		margin: 0 1rem;
		width: calc(100% - 2rem);
	}
}